body {
	background-color: rgb(255, 255, 255);
	margin: 0;
	font-family:  'Open Sans', 'Helvetica Neue', sans-serif
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

h1 {
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	color: rgb(255, 255, 255);
	background: rgb(221, 219, 245);
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}

#stripe {
	background: rgb(255, 255, 255);
	height: 30px;
    text-align: center;
    font-weight: bold;
    color: rgba(113, 104, 235, 0.651);
    border: 4pt solid rgb(113, 104, 235);
}

.selected {
	color: white;
	background: rgb(113, 104, 235);
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: rgb(113, 104, 235);
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: rgb(113, 104, 235);
}
